*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.2rem;
  margin: 0;
  padding: 0.2rem;
  border: thin solid grey;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 0;
  padding: 0;
  border: thin solid grey;
  font-size: 1.8rem;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
