*,
*::before,
*::after {
  box-sizing: border-box;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.2rem;
  margin: 0;
  padding: 0.2rem;
  border: thin solid grey;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 0;
  padding: 0;
  border: thin solid grey;
  font-size: 1.8rem;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
